@import "tailwindcss";

@layer utilities {
    .no-scrollbar-y::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar-y {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .no-scrollbar-x::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar-x {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}