<!DOCTYPE html>
<html lang="en" class="scroll-smooth no-scrollbar-y">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Checkout</title>
    <link rel="stylesheet" href="../style/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-[#222831] text-white font-['Poppins']">
    <header class="fixed z-500 top-0 w-full bg-[#393E46] px-10 py-2.5"> <!-- ----------Navigation---------- -->
        <nav class="flex justify-between h-[10%] items-center">
            <div class="text-2xl font-bold">Phone<span class="text-[#00ADB5]">World</span></div>
            <div class="flex flex-row gap-[60px] items-center">
                <a href="home.html" class="text-white no-underline transition-all duration-200 ease-in-out hover:text-[#00ADB5] active:text-white">Beranda</a>
                <a href="cart.html" class="text-white no-underline transition-all duration-200 ease-in-out hover:text-[#00ADB5] active:text-white">Keranjang</a>
                <a href="history.html" class="text-white no-underline transition-all duration-200 ease-in-out hover:text-[#00ADB5] active:text-white">Pesanan</a>
                <p id="name" onclick="window.location.href = 'profile.html'" class="cursor-pointer hover:text-[#00ADB5] transition-all duration-200 ease-in-out"></p>
                <i data-feather="log-out" id="logout" class="cursor-pointer hover:text-[#00ADB5] transition-all duration-200 ease-in-out"></i>
            </div>
        </nav>
    </header>
    <div class="fixed z-498 w-full flex items-center h-[50px] justify-start pl-[35px] bg-[#393E46] gap-[20px] flex-row mt-[-43px]">
        <input type="text" id="src" placeholder="Cari produk..." class="w-[50%] h-[35px] rounded-[10px] border-none pl-[10px] text-[15px] bg-white text-black outline-none focus:ring-2 focus:ring-[#00ADB5]">
        <button class="p-2.5 w-[120px] h-[36px] text-[16px] flex justify-center items-center font-medium rounded-[10px] border-none bg-[#00ADB5] text-white cursor-pointer transition-all duration-200 ease-in-out hover:text-[#00ADB5] hover:bg-white active:bg-[#00ADB5] active:text-white active:shadow-none">Cari</button>
    </div>
    <main class="flex flex-row mx-[20px] pt-[20px] mt-[95px] justify-between pb-20">
        <!-- -------Alamat & Pembayaran------- -->
            <section class="flex-2 pr-[40px] max-w-[70%]">
                <div class="bg-[#2d3440] rounded-[20px] p-[30px] mb-[25px]">
                    <h2 class="mb-[20px] text-2xl font-semibold">Informasi Pengiriman</h2>
                    <div class="flex gap-[20px] p-[5px]">
                        <input type="text" placeholder="Nama Lengkap" class="w-[50%] p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] outline-none focus:ring-2 focus:ring-[#00d9ff]">
                        <input type="text" placeholder="Nomor Telepon" class="w-[50%] p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] outline-none focus:ring-2 focus:ring-[#00d9ff]">
                    </div>
                    <textarea placeholder="Alamat lengkap" class="w-full p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] resize-none h-[100px] outline-none focus:ring-2 focus:ring-[#00d9ff]"></textarea>
                    <div class="flex gap-[20px] p-[5px]">
                        <input type="text" placeholder="Provinsi" class="w-[33%] p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] outline-none focus:ring-2 focus:ring-[#00d9ff]">
                        <input type="text" placeholder="Kota/Kabupaten" class="w-[33%] p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] outline-none focus:ring-2 focus:ring-[#00d9ff]">
                        <input type="text" placeholder="Kode Pos" class="w-[33%] p-[15px] border-none rounded-[12px] bg-white text-[#1c2431] mb-[20px] outline-none focus:ring-2 focus:ring-[#00d9ff]">
                    </div>
                </div>
                <div class="bg-[#2d3440] rounded-[20px] p-[30px] mb-[25px]">
                    <h2 class="mb-[20px] text-2xl font-semibold">Metode Pembayaran</h2>
                    <div class="flex gap-[20px] flex-row">
                        <label class="flex-1 bg-[#1c2431] p-[30px] rounded-[20px] text-center cursor-pointer border-2 border-transparent hover:border-[#00d9ff] focus-within:border-[#00d9ff] flex flex-col items-center justify-center gap-[10px]">
                            <input type="radio" name="payment" checked>
                            <span>BCA</span>
                        </label>
                        <label class="flex-1 bg-[#1c2431] p-[30px] rounded-[20px] text-center cursor-pointer border-2 border-transparent hover:border-[#00d9ff] focus-within:border-[#00d9ff] flex flex-col items-center justify-center gap-[10px]">
                            <input type="radio" name="payment"><span>Mandiri</span>
                        </label>
                        <label class="flex-1 bg-[#1c2431] p-[30px] rounded-[20px] text-center cursor-pointer border-2 border-transparent hover:border-[#00d9ff] focus-within:border-[#00d9ff] flex flex-col items-center justify-center gap-[10px]">
                            <input type="radio" name="payment"><span>BNI</span>
                        </label>
                        <label class="flex-1 bg-[#1c2431] p-[30px] rounded-[20px] text-center cursor-pointer border-2 border-transparent hover:border-[#00d9ff] focus-within:border-[#00d9ff] flex flex-col items-center justify-center gap-[10px]">
                            <input type="radio" name="payment"><span>OVO</span>
                        </label>
                    </div>
                </div>
            </section>
    
        <!-- -------Ringkasan------- -->
        <aside class="w-[400px] fixed left-[72%] h-[590px] bg-[#2d3440] rounded-[20px] p-[30px]">
            <h2 class="mb-[30px] font-semibold text-2xl">Ringkasan Pesanan</h2>
            <div id="checkout-cart" class="max-h-[175px] overflow-y-auto pr-2 no-scrollbar-y">
            </div>
            <hr class="border-t border-white/10 my-[20px]">
            <div class="flex justify-between my-[20px] text-lg">
                <p>Subtotal</p>
                <span id="subtotal" class="text-[#00d9ff]">IDR 0</span>
            </div>
            <div class="flex justify-between my-[20px] text-lg">
                <p>Ongkir</p>
                <span id="shipping" class="text-white">
                    IDR 0
                </span>
            </div>
            <div class="flex justify-between my-[20px] text-[25px] font-bold">
                <h3>Total</h3>
                <h3 id="total" class="text-[#00d9ff]">IDR 0</h3>
            </div>
            <button class="w-full border-none bg-[#00d9ff] p-[18px] rounded-[15px] text-white text-[20px] cursor-pointer transition-all duration-200 hover:bg-white hover:text-[#00d9ff]" onclick="success()">
                Bayar Sekarang
            </button>
            <p class="text-center mt-[20px] text-[#bbb]">Transaksi aman</p>
        </aside>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module">
        import { createClient } from 'https://esm.sh/@supabase/supabase-js'
        const supabase = createClient (
            'https://nkiwbbpayyvciasfsfmx.supabase.co',
            'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5raXdiYnBheXl2Y2lhc2ZzZm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NTM4OTcsImV4cCI6MjA5NTQyOTg5N30.9l-eUGzbyHcu4XHtGCckNO47UjH-HKi_Uh2w9qLX3fU'
        )
        async function init() {
            const { data, error } = await supabase.auth.getUser()

            if (error || !data.user) {
                window.location.href = "login.html"
                return
            }
            document.getElementById("logout").addEventListener("click", logout)
        }

        function logout() {
            supabase.auth.signOut();
            window.location.href = "../index.html";
        }

        init()
    </script>
    <script src="../script/checkout.js"></script>
    <script>
        feather.replace();
    </script>
</body>
</html>